.bg-1 { 
  background-color: #1abc9c;
  color: #ffffff;
}
.bg-2 { 
  background-color: #474e5d;
  color: #ffffff;
}
.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

button{
  font-family: monospace;
  float: right;
  text-decoration: none;
  width: 20%;
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  padding: 20px;
  font-size:20px;
  color: black;
}

button:hover{
  background-color: lightblue;
}

a{
}

#name{
  float: left;
  background-color: white;
  padding: 20px;
  width: 40%;
  font-family: monospace;
  font-size: 20px
} 