.bg-1 { 
  background-color: lightblue;
  color: black;
  font-family: monospace;
}
.bg-2 { 
  background-color: lightgrey;
  color: black;
  font-family: monospace;
}
.bg-3 { 
  background-color: lightblue;
  color: black;
  font-family: monospace;
}
.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

#headerbutton{
  font-family: monospace;
  float: right;
  text-decoration: none;
  width: 20%;
  background-color: lightgrey;
  border: none;
  transition-duration: 0.4s;
  padding: 20px;
  font-size:20px;
  color: black;
}

#headerbutton:hover{
  background-color: lightblue;
}

#name{
  float: left;
  background-color: lightgrey;
  padding: 20px;
  width: 40%;
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 4px;
  color: black;
} 

#lastname{
  background-color: lightgrey;
  padding: 23px;
  color: Grey;
}

#btt{
  font-family: monospace;
  text-decoration: none;
  background-color: lightblue;
  border: dotted;
  transition-duration: 0.4s;
  padding: 10px;
  font-size:20px;
  color: black;
}

#btt:hover{
  background-color:lightgrey;
}